#######################################
##                                   ##
## Vhost template managed by ansible ##
##                                   ##
#######################################

<VirtualHost *:{{ vhost_port | default('80', true) }}>
  ServerName  {{ vhost_servername | default('localhost', true) }}
  {% if vhost_aliases is defined %}ServerAlias {{ vhost_aliases | default('', true) }}{% endif %}

  ServerAdmin webmaster@starwarsccg.org
  DocumentRoot /var/www/{{ vhost_servername | default('localhost', true) }}
  ErrorLog  /var/log/apache2/{{ vhost_servername | default('localhost', true) }}-error.log
  CustomLog /var/log/apache2/{{ vhost_servername | default('localhost', true) }}-access.log combined

  ServerSignature Off

  <Directory /var/www/{{ vhost_servername | default('localhost', true) }}>
    Require all granted
    AllowOverride All
  </Directory>

  ## Logging
  LogFormat "%{X-Forwarded-For}i %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
  ErrorLog  "/var/log/apache2/{{ vhost_servername | default('localhost', true) }}-error.log"
  CustomLog "/var/log/apache2/{{ vhost_servername | default('localhost', true) }}-access.log" combined


  {% if (vhost_protocol == 'https') and (vhost_cert_file is defined) and (vhost_key_file is defined) %}
  ## SSL directives
  SSLEngine on

  SSLProxyEngine On
  SSLProxyVerify none
  SSLProxyCheckPeerCN off

  SSLCertificateFile      "{{ vhost_cert_file | default('/etc/ssl/certs/ssl-cert-snakeoil.pem', true) }}"
  SSLCertificateKeyFile   "{{ vhost_key_file  | default('/etc/ssl/private/ssl-cert-snakeoil.key', true) }}"
  {% if vhost_chain_file is defined %}
  {% if (vhost_chain_file and (vhost_chain_file != "false")) %}SSLCertificateChainFile "{{ vhost_chain_file }}"{% endif %}
  {% endif %}

  {% endif %}


  ## JSON Error Pages
{{ json_error_pages | default("", true) }}

  ## Custom fragment
{{ vhost_custom_fragment | default("", true) }}

  ##
  ## Headers
  ##
  Header set X-Frame-Options           SAMEORIGIN
  Header set X-Content-Type-Options    nosniff
  Header set X-XSS-Protection          "1; mode=block"
  Header set Strict-Transport-Security max-age=631138519
  #Header set Content-Security-Policy   "default-src \'self\';"
  Header set X-Robots-Tag              "noindex, noarchive, nosnippet"
  Header always unset                  "X-Powered-By"
  Header        unset                  "X-Powered-By"

  ##
  ## Block access to URLs
  ##
  <Location "/server-status">
    order deny,allow
    deny from all
  </Location>

  <FilesMatch "xmlrpc\.php$">
    order deny,allow
    deny from all
  </FilesMatch>

  <Location "/wp-config.php">
    order deny,allow
    deny from all
  </Location>

  <Location "/wp-cron.php">
    order deny,allow
    deny from all
    allow from 127.0.0.1
  </Location>

  <Directory /var/www/{{ vhost_servername | default('localhost', true) }}/wp-content/uploads/>
    <Files *.php>
      deny from all
    </Files>
  </Directory>

  Include "/etc/apache2/conf-available/wordpress_login_url.conf"

</VirtualHost>